header, footer, main {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

header {
  nav {
    position: relative;
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 5px 0px 5px 10px;
    background: #b83f45;
    color: white;
    border-radius: 5px;


    .left {
      justify-self: flex-start;
      height: fit-content;
    }

    .middle {
      flex-grow: 1;
    }

    .right {
      width: fit-content;
      height: fit-content;
    }
  }
}

a {
  margin-right: 10px;
  padding: 5px 5px 6px 5px;
  color: inherit;
  text-decoration: none;
}

.link-active {
  background-color: #511c1e;
}
