<article>
  <section>
    <header>
      <h2>Angular</h2>
    </header>
    <p>Angular</p>
    <a href="">Source</a>
  </section>
  <section>
    <blockquote>
      <p class="quote">
        Angular is a web framework that empowers developers to build fast,
        reliable applications.
      </p>
    </blockquote>
    <div class="flex-row citation">
      <a href="">Angular</a>
    </div>
  </section>
  <section>
    <header>
      <h3>Official Resources</h3>
    </header>
    <ul>
      <li><a href="">Docs</a></li>
    </ul>
  </section>
  <p class="let-us-know">
    <i>
      If you have other helpful links to share, or find any of the links above
      no longer work, please <a href="">let us know</a>.
    </i>
  </p>
</article>
