<div class="container">
  <article class="register-canvas">
    <header>
      <h3>Register your email</h3>
    </header>
    <form class="rgtform" 
      #rgtform="ngForm" 
      (ngSubmit)="onSubmit()"
      (keydown.enter)="$event.preventDefault()"
    >
      <custom-input name="'firstname" class="txt-field" 
        [ngModel]="firstname"
        (ngModelChange)="chang($event)"
        [muiLabel]="'First name'"
        [muiClearable]="true"
        [muiStyle]="'outlined'"
        required
      ></custom-input>
      <custom-input name="lastname" class="txt-field"
        [(ngModel)]="lastname"
        [muiLabel]="'Last name'"
        [muiClearable]="true"
        [muiStyle]="'outlined'"
        required
      ></custom-input>
      <custom-input name="email" class="txt-field"
        [(ngModel)]="email"
        [muiLabel]="'Email'"
        [muiClearable]="true"
        [muiStyle]="'outlined'"
        required
        email
      >
      </custom-input>
      <button class="submit" type="submit" [disabled]="rgtform.invalid">
        Submit
      </button>
    </form>
  <!-- <ng-container *ngTemplateOutlet="debugger"></ng-container> -->
  </article>
</div>


<ng-template #debugger>
  <div>prop firstname: {{firstname}}</div>
  <div>prop lastname: {{lastname}}</div>
  <button (click)="log(rgtform.form.value)">a</button>
</ng-template>
